.header-wrapper {
  max-width: 900px;
  margin: 0 auto; }

.landing-social {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  font-size: 14px;
  color: #d9dee0; }
  .landing-social span {
    padding: 45px 0 45px 0; }
  .landing-social h2 {
    margin: 0;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 30px;
    padding: 40px 0 40px 0;
    color: black; }
  .landing-social div i {
    padding: 45px 25px 45px 25px; }

nav {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background: #3b3e45;
  background-size: cover; }
  nav ul {
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    width: 50%;
    text-align: center;
    padding: 25px 0 25px 0; }
    nav ul li {
      color: #d9dee0;
      list-style: none;
      padding: 0 20px 0 20px;
      transition: 0.5s; }
    nav ul li:hover {
      color: white; }

.landing-main {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background: #46474a; }

.landing-main-wrapper {
  max-width: 900px;
  margin: 0 auto; }
  .landing-main-wrapper h1 {
    font-size: 54px;
    text-align: center;
    margin: 0;
    padding: 90px 0 30px 0;
    font-family: 'Roboto';
    font-weight: 100;
    color: #ffffff; }
  .landing-main-wrapper .landing-main-text {
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    padding-bottom: 70px;
    font-family: 'Roboto';
    font-weight: 300; }

.landing-main-squares {
  padding-bottom: 85px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between; }

  .landing-main-squares .landing-box {
    width: 30%;
    background: #51545a; 
  }
  
  .landing-squares-top {
    margin-bottom: 40px;
  }

  .landing-box {
    .lnr {
      margin: 0 auto;
      text-align: center;
      font-size: 40px;
      position: relative;
      top: 25%;
      color: #ffffff;
    }
    .landing-text-first {
      margin: 0 auto;
      text-align: center;
      vertical-align: center;
      position: relative;
      padding-top: 25px;
      top: 25%;
      font-size: 24px;
      font-family: 'Roboto';
      font-weight: 300;
      color: #ffffff;
    }
    
    .landing-box-text {
      position: relative;
      opacity: 0;
    }
  }

  // .landing-box:hover {
  //   opacity: 0;
  // }

  // .landing-box-text:hover {
  //   opacity: 1;
  // }